*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;

}
@font-face {
    font-family: BALLW; /* Имя шрифта */
    src: url(../fonts/BALLW.TTF); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: helvitica; /* Имя шрифта */
    src: url(../fonts/helvitica.otf); /* Путь к файлу со шрифтом */
   }
#header{
	height:79px;
	background-image: url('../img/header_background.png');
	background-repeat: repeat;
	border-bottom: 5px solid #242424;
}
.wrapper{
	width:940px;
	margin:0 auto;
}
#header .logotype{
	font-family:BALLW;
	font-size:36px;
	cursor: pointer;
	color:#e0e0e0;
	line-height: 79px;
	margin-left: 5px;
	float:left;
	margin-right:135px;
}
.navButtons{
	list-style: none;
}

.navButtons li{
	float:left;
	line-height: 79px;
	padding: 0 10px;
}
.navButtons li:first-child{
	padding-left:0;
}
.navButtons .separaton{//li:after??????;
	margin:30px 0;
	float:left;
	width: 1px;
	height: 20px;
	background-color: #262e34;
}
.navButtons a{	
	color:#e8e8e8;
	font-family: helvitica;
	font-size: 12px;
	font-weight: bold;
	padding:10px 13px;
	//border-right:1px solid #272f34;
	margin:0;
}
.navButtons a:hover{
	background-color:#2f2f2f;
	border-radius: 5px;
}
.SearchForm{
	float: right;
	margin-top: 30px;
	position: relative;
}
.SearchInput{
	background-color: #2f2f2f;
	border-radius:9px;
	border:none;
	height:25px;
	width:150px;
	box-sizing:border-box;
	color:#e8e8e8;
	padding-left: 25px;
}
.button{
	position: absolute;
	top:6px;
	left:8px;
	width:15px;
	height: 15px;
	background:rgba(255,255,255,.001);
	border:none;
	cursor: pointer;
	background-image: url('../img/button_Searchform.png');
}
.content_left{
	float:left;
	margin-top:37px;
	width:674px;
}
.title{
	font:helvitica;
	font-weight: bold;
	font-size: 15px;
	color:#464646;
}
.border-bottom{
	margin:16px 0 19px 0;
	height: 6px;
	background-image: url(../img/border-bottom_for_title.png);
	background-repeat: repeat;
}
.content_img{
	border: 1px solid #c7c7c7;
}
.content_info{
	float:left;
}
.content_info span{
	color:#c3c3c3;
	font-family: helvitica;
	font-weight: bold;
	display: block;
	font-size: 12px;
	width:100px;
}
.content_info span:nth-child(odd){
	color:#464646;
	margin:21px 0 8px 0;
}
.content_text{
	width:520px;
	color:#414141;
	float:right;
	margin-top:21px;
}
.clear_fix:after{
	content:'';
	clear:both;
	display: table;
}
.content_text p{
	text-indent: 20px;
}
.content_right{
	float: right;
	width:220px;
	margin-top:37px;
}
.text{
	color:#464646;
	font-family: helvitica;
	font-weight: bold;
	font-size: 12px;
}
.content_right .text{
		margin-bottom:25px;
}
.content_right ul{
	list-style: none;
	padding:0;
}
.content_right span{
	color:#b5b5b5;
}
.content_right span:nth-child(odd){
	margin-bottom:10px;
}
.time_of_post_add{
	display: block;
	margin-top: 10px;
}
.footer{
	
	width:100%;
	border-top:5px solid #242424; 
	background-image: url(../img/header_background.png);
	background-repeat: repeat;	
}
.footer_box{
	width:220px;
	display: block;
	margin-top: 40px;
	float:left;
	margin-right: 19px;
}
.footer .title{
	color:#fff;
	margin-bottom: 20px;
}
.footer .border-bottom-footer{
	width:100%;
	height: 1px;
	background-color: #666;
	margin-bottom: 22px;
}
.footer .text{
	color:#fff;
}
.footer span:nth-child(odd){
	color:#999999;
	margin:21px 0 8px 0;
}
.time_of_post_add{
	display: block;
	margin-top: 10px;
	margin-bottom:20px;
}
.footer_box:last-child{
	margin-right: 0;
	float: left;
}
.widgets{
	list-style: none;
}
.widget{
	display: inline-block;
	width:40px;
	height:40px;
	background-color: #cccccc;
	box-shadow: 0 0 0 2px #fff, 0 0 0 1px #ccc;
	margin: 0 12px 12px 0;
}
.widget:nth-child(4n){
	margin-right: 0;
}
.footer .logotype{
	font-family:BALLW;
	font-size:34px;
	color:#808080;
	margin-left: 5px;
	float:left;
	cursor: pointer;
}
.footer .separator{
	float:left;
	margin-top:10px;
	margin-left: 22px;
	margin-right: 13px;
	width: 1px;
	height: 20px;
	background-color: #262e34;
}
.footer_bottom {
	margin-top:40px;
	padding: 20px 0;
	background: rgba(0,0,0,0.3);
}

.footer_bottom .sometext{
width: 290px;
float: left;
}
.footer_bottom .text{
color:#808080;
}
.footer_bottom span{
font-weight: bold;
}
.copyright{
float: right;
width:225px;
}